<div class="content__flex">
  <form action="">
    <section class="section">

      <mat-form-field class="btn-search">
        <mat-label>{{'search' | transloco}}</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div class="button-search">
        <button mat-raised-button color="primary" (click)="newDailog()">{{'add' | transloco}} {{'new'
          |transloco}}</button>
      </div>

    </section>
  </form>

  <div class=" mat-elevation-z1 table content__flex__1">
    <table>
      <tr class="table-header">
        <td>{{'no'| transloco}}</td>
        <td>{{'ingredient' |transloco}}{{'name' | transloco}}</td>
        <td>{{'value' | transloco}}</td>
      </tr>
      <tr *ngFor="let t of data">
        <td>{{t.id}}</td>
        <td>{{t.name}}</td>
        <td>{{t.value}}KG</td>
        <button mat-icon-button color="green" (click)="updateDailog(t)"><mat-icon>create</mat-icon></button>
        <button mat-icon-button color="primary" (click)="deleteConfirm(t)"><mat-icon>delete_sweep</mat-icon></button>
      </tr>

    </table>

    <!-- <div class="table" *ngFor="let t of data">

    </div> -->
  </div>
  <!-- <mat-paginator #paginator [length]="pagingModel?.totalElements" [pageIndex]="page" [pageSize]="size"
[pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page" class="paginator">
</mat-paginator> -->
</div>