.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: darkgreen;
  }
  
  mat-grid-list {
    background-color: rgb(65, 161, 65);
  }
  
  .title {
    font-family: "ang Tapich";
    color: darkgreen;
    font-size: 36px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .active {
    background-color: #ccc;
  }
  
  .nav-logo-64 {
    display: block;
  }
  
  .nav-logo-32 {
    display: none;
  }
  
  @media only screen and (max-width: 480px) {
    .nav-logo-32 {
      display: block;
    }
  
    .nav-logo-64 {
      display: none;
    }
  }
  