mat-card {
  margin-bottom: 16px;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 1px -1px rgba(16, 211, 16, 0.2), 0px 1px 1px 0px rgba(0, 100, 0, 0.14), 0px 1px 3px 0px rgba(0, 100, 0, 0.12);
}



mat-card:hover{
  box-shadow: 0px 2px 1px -1px rgb(60, 189, 209), 0px 1px 1px 0px rgb(47, 139, 200), 0px 1px 3px 0px rgb(40, 118, 186);
  border-radius: 5px;
  transition: all 0.35s;
}

mat-card-content p:nth-child(5){
margin-bottom: 0.25rem;
}

mat-card-content p:nth-child(6){
display: flex;
align-items: center;
margin-bottom: 0.5rem;
}

mat-card-content p:nth-child(6) span {
  margin-top: 4px
}


mat-card-content p:nth-child(6) .mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-left: 0.25rem;
}

p{
  font-size: 0.875rem;
}

/* .mat-mdc-card {
  box-shadow:0 1px 4px rgba(0, 0, 0, .3), -20px 0px 0px -30px rgba(0, 0, 0, .8), 0px 1px 20px -23px rgba(0, 0, 0, .8), inset 0 0 40px rgba(0, 0, 0, .1);
} */
