root {
  --nav-height: 64px;
  --content: 1rem;
}

.search-results {
  max-height: calc(100vh - 64px - 1rem);
  padding: 1px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0.5375rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
    border-radius: 1px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 1px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgreen;
  }
}
