/* You can add global styles to this file, and also import other style files */
:host {
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #48AA40;
  --color-secondary: #15A0BF;
  --color-primary-light: #49aa40af;
  --color-accent: #C6CA08;
  --color-aaebf5a: #D5A644;
  --color-warn: #BD2525;
  --bg-color-primary: #D9D9D9;
  --divider--color: #747474;
  --delay: 200ms;
  --nav-bar-height: 104px;
  --paginator-height: 65px;
  --mobile: 480px;

}

.full-width-table {
  width: 100%;
}

.table {
  border-collapse: collapse;
  height: calc(100vh - var(--nav-bar-height) - 56px - 93px - 40px);
  max-height: calc(100vh - var(--nav-bar-height) - 56px - 93px - 40px);
  overflow: auto;
  scroll-behavior: smooth;
}

table th {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

tr,
tr th {
  background-color: var(--clr-body-bg);
  color: var(--clr-text);
}

tr:focus td,
tr:hover td,
tr:focus button,
tr:hover button {
  color: var(--clr-text-over);
}

tr:focus,
tr:hover {
  background-color: var(--clr-card-bg);
  font-weight: 500;
  transition: ease-in var(--delay);
}

@media screen and (min-width: 480px) {
  .table {
    padding-inline-start: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .table {
    height: calc(100vh - var(--nav-bar-height) - 56px - 64px);
  }
}