<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card-header class="center">
        <h2 mat-dialog-title>{{ "change-password" | transloco }}</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>{{'current-password' | transloco}}</mat-label>
            <input type="text" matInput name="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'new-password' | transloco}}</mat-label>
            <input type="text" matInput name="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'confirm-password' | transloco}}</mat-label>
            <input type="text" matInput name="name" required>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="success">Save</button>
        <button mat-raised-button color="warn" type="button" (click)="Onclose()">Cancel</button>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <br />
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    </mat-dialog-actions>
    <mat-progress-bar [class.is__loading]="!loading" mode="indeterminate"></mat-progress-bar>
</form>