.errors {
    color: red;
  }
  
  .center {
    text-align: center;
  
    flex-direction: column;
  }
  mat-card {
    max-width: 580px;
    margin-top: 1rem;
  }
  .mat-card-heade h2 {
    align-items: center;
  }
  
  .mat-mdc-form-field {
    width: 100%;
  }
  
  mat-mdc-card-header {
    flex-direction: column;
  }

   
  form{
    background-color: aliceblue;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(255, 255, 255, 0.12) !important;
}
  