mat-form-field {

    width: 100%;
  }
  
  
  form{
    background-color: aliceblue;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(255, 255, 255, 0.12) !important;
}