/* You can add global styles to this file, and also import other style files */
:host {
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #48AA40;
  --color-secondary: #15A0BF;
  --color-primary-light: #49aa40af;
  --color-accent: #C6CA08;
  --color-aaebf5a: #D5A644;
  --color-warn: #BD2525;
  --bg-color-primary: #D9D9D9;
  --divider--color: #747474;
  --delay: 200ms;
  --radius-primary: 0.6250em;
  --nav-bar-height: 104px;
  --paginator-height: 65px;
  --mobile: 480px;
  --tablet: 768px;
}

@font-face {
  font-family: "Koh Santepheap";
  src: local("KohSantepheap-Regular"),
    url(./assets/fonts/KohSantepheap-Regular.ttf) format("truetype");
}

.cdk-global-scrollblock {
  overflow: auto;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Koh Santepheap";
  font-size: large;
  background-color: #d9d9d9;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
span,
div,
strong,
td,
th,
input,
mat-label,
body .mdc-floating-label,
.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  font-family: "Koh Santepheap" !important;
}

button span {
  font-size: 14px;
}

.title {
  font-size: 1.5625rem;
  font-weight: 400;
}

.mdc-card__media {
  position: relative;
  /* box-sizing: border-box; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  width: 100%;
  height: 100%;
}

.sub-title {
  color: #D5A644;
}

.tooltip {
  margin: 2px;
}

.tooltip-inner {
  background-color: rgba(0, 32, 74, 0.8);
}

form.form {
  max-width: 748px;
}

.grid__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  max-height: 500px;
}

.content__flex {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4px - var(--fnts-hight));
}

.content__flex__1 {
  flex: 1;
}

/* /////////button//////////// */
.button-search {
  display: flex;
  padding: 0.657rem 0;
  gap: 0.5rem
}



.mat-mdc-raised-button:not(:disabled) {
  border-radius: 0.6250em;
}

.mat-success {
  background-color: #48AA40 !important;
  color: #fff !important;
}

.mat-success-color {
  color: #48AA40 !important;
}

.mat-secondary {
  background-color: #15A0BF !important;
  color: #fff !important;
}

.mat-secondary-color {
  color: #15A0BF !important;
}

.mat-accent {
  background-color: #C6CA08 !important;
  color: #fff !important;
}

.mat-accent-color {
  color: #C6CA08 !important;
}

.mat-mdc-text-field-wrapper:hover {
  background-color: var(--clr-body-bg) !important;
}

.mat-mdc-tooltip .mdc-tooltip__surface {
  /* background-color: inherit !important; */
  /* font-size: 1em;x */
}

/* .mdc-form-field {
  color: var(--clr-text);
} */

.mat-warn {
  background-color: #BD2525 !important;
  color: #fff !important;
}

.is__loading {
  visibility: hidden;
}

.mat-warn-color {
  color: #BD2525 !important;
}

.mat-mdc-raised-button .mat-mdc-button-touch-target,
.mat-mdc-raised-button.mat-mdc-button-base {
  height: 40px;
}

.mat-mdc-raised-button {
  font-size: 14px;
}

mat-card-actions {
  column-gap: 1rem;
  padding: 1rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.mdc-list-item--with-trailing-checkbox.mdc-list-item {
  background-color: #f5f5f5 !important;
}

.mdc-checkbox__background {
  border-color: #49aa40af !important;
  background-color: #48AA40 !important;
}

.mat-mdc-checkbox :hover {
  color: #48AA40 !important;
}

.mdc-checkbox__background,
input:checked {
  border-color: #49aa40af !important;
  background-color: #48AA40 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple {
  background-color: #48AA40 !important;
}

.section {
  padding: 1rem;
}

.progress-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}

.hint {
  font-size: 0.75rem;
}

tr {
  text-wrap: nowrap;
}

input,
mat-label,
span,
th,
td {
  font-size: var(--fnts) !important;
  /* color: black; */
}

.mat-label {
  text-align: center;
  font-size: 15px !important;
  font-family: 'Koh Santepheap' !important;

}

.mat-mdc-progress-spinner {
  text-align: center;
  --mdc-circular-progress-active-indicator-color: green;
}

.view__content {
  max-width: 768px;
  margin: auto;
}

.paginator {
  background-color: var(--clr-body-bg) !important;
  color: var(--clr-text) !important;
}

.paginator,
.paginator svg,
.paginator span {
  color: var(--clr-text) !important;
  border-color: red !important;
}

.mat-mdc-radio-button .mdc-form-field {
  color: goldenrod !important;
}

.icon-wrapper {
  color: var(--clr-text) !important;
}

.input__hidden {
  display: none !important;
  visibility: hidden;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #00000000 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: #000 !important;
}

.mat-mdc-select-arrow {
  width: 10px;
  height: 5px;
  position: relative;
  color: #000 !important;
}

.mat-mdc-option{
  color: #000 !important;
}

div.mat-mdc-select-panel{
  background-color: #eeeeee !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(255 255 255) !important;
}

.mat-mdc-select{
  color: #000 !important;
}

.mat-mdc-dialog-container .mdc-dialog__title {
  /* color: var(--mdc-dialog-subhead-color, rgba(0, 0, 0, 0.87)); */
  color: #000 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #000 !important;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {
  .grid__layout {
    grid-template-columns: 1fr;
  }

  .mat-mdc-paginator-container {
    flex-wrap: nowrap !important;
  }

  .mat-mdc-paginator-range-label {
    margin: 0 !important;
  }

  .mat-mdc-paginator-page-size-label {
    display: none !important;
    margin: 0 !important;
  }

  .content__flex {
    height: 115svh;
    /* max-height: calc( 100% - 4px); */
  }

  .mat-mdc-form-field {
    flex-grow: 1;
  }
}