:host{
    --mdc-elevated-card-container-shape: 4px;
    --mdc-elevated-card-container-color: #424242;
    --mdc-elevated-card-container-elevation: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --mdc-outlined-card-container-color: #424242;
    --mdc-outlined-card-outline-color: rgba(255, 255, 255, 0.12);
    --mdc-outlined-card-container-elevation: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    --mat-card-subtitle-text-color: rgba(255, 255, 255, 0.7);
    --mdc-elevated-card-container-elevation: 0px 5px 10px -10px rgba(161, 17, 17, 0.2), 5px 10px 10px 5px rgba(75, 120, 187, 0.447), 0px 10px 30px 0px rgba(137, 195, 231, 0.447);
}

.mat-mdc-card{
    border-radius: 20px;
    background-color: var( --mat-card-subtitle-text-color);
    border-width: 0;
    border-style: solid;
    border-color: var(--mdc-elevated-card-container-color);
    box-shadow: var(--mdc-elevated-card-container-elevation);
}

