<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/dashboard">
                <img mat-card-image src="/assets/logo/dashboard.png" alt="dashboard">
                <mat-card-content>
                    <hr>
                    <p>{{'dashboard' | transloco}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/category">
                <img mat-card-image src="/assets/logo/categories.png" alt="execution">
                <mat-card-content>
                    <hr>
                    <p>{{'category' | transloco}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/ingredient">
                <img mat-card-image src="/assets/logo/vegetable.png" alt="completed">
                <mat-card-content>
                    <hr>
                    <p>{{'ingredient' | transloco}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/stock">
                <img mat-card-image src="/assets/logo/in-stock.png" alt="time-tracking_3063792">
                <mat-card-content>
                    <hr>
                    <p>{{'stock' | transloco}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/setting">
                <img mat-card-image src="/assets/logo/business.png" alt="digital-library">
                <mat-card-content>
                    <hr>
                    <p>{{'setting' | transloco}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

