<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/dashboard">
                <img mat-card-image src="/assets/logo/dashboard.png" alt="dashboard">
                <mat-card-content>
                    <hr>
                    <p>Dashboard</p>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" *ngIf="checkAuth('LIST_ANNUAL_AUDIT')">
            <mat-card routerLink="/annual-planning">
                <img mat-card-image src="../../assets/logo/schedule.png" alt="schedule">
                <mat-card-content>
                    <hr>
                    <p>Annual Audit planning</p>
                </mat-card-content>
            </mat-card>
        </div> -->

        <!-- <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" *ngIf="checkAuth('LIST_ENGAGEMENT')">
            <mat-card routerLink="/engagement">
                <img mat-card-image src="../../assets/logo/task.png" alt="task">
                <mat-card-content>
                    <hr>
                    <p>Engagement planning</p>
                </mat-card-content>
            </mat-card>
        </div> -->

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/category">
                <img mat-card-image src="/assets/logo/categories.png" alt="execution">
                <mat-card-content>
                    <hr>
                    <p>Category</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/ingredient">
                <img mat-card-image src="/assets/logo/vegetable.png" alt="completed">
                <mat-card-content>
                    <hr>
                    <p>Ingredient</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/stock">
                <img mat-card-image src="/assets/logo/in-stock.png" alt="time-tracking_3063792">
                <mat-card-content>
                    <hr>
                    <p>Stock</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" >
            <mat-card routerLink="/setting">
                <img mat-card-image src="/assets/logo/business.png" alt="digital-library">
                <mat-card-content>
                    <hr>
                    <p>Setting</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

