<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">

        <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" *ngFor="let t of table">
            <mat-card (click)="goToform(t)">
                <img mat-card-image *ngIf="t.isBusy" src="../../assets/img/dinning-table-color.png" alt="execution">
                <img mat-card-image *ngIf="!t.isBusy" src="../../assets/img/dinning-table.png" alt="execution">

                <mat-card-content class="text">
                    <hr>
                    <p>{{t.floor}}</p>
                    <p>{{t.name}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>