<div class="content max-width-content">
    <h1 class="fkh">
      <div class="icon-wrapper">
        <mat-icon>settings</mat-icon>{{'setting' | transloco}}
      </div>
    </h1>
    <mat-action-list>
      <div *ngFor="let d of data">
        <button mat-list-item class="fkh" (click)="goToRoute(d.routerLink)" >
          <div class="icon-wrapper">
            <mat-icon>{{d.icon}}</mat-icon>
            {{(d.name) | transloco}}
          </div>
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-action-list>
  </div>
  